node_modules/
test/coverage/
coverage/
src/**/site/
theme.config
semantic.json
tasks/admin/oauth.js

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.ruby-version

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
.docpad.db
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
visual_ext_index.html
/webapp/visual_ext_index.html
UIAdaptation_index.html
changes_preview.js
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
sap-ui-cachebuster-info.json
extended_runnable_file.html
.*/extended_runnable_file.html